#content {
  width: 70%;
  padding: 30px 50px;
}

form.search-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EDF2F9;
}

.search-block input {
  outline: none;
  border: none;
  box-sizing: border-box;
}

.search-block input[type='text'] {
  margin: 15px;
  padding-left: 20px;
  height: 45px;
  width: 100%;
  font-size: 17px;
}

.search-block input[type='button'] {
  height: 75px;
  padding: 0px 30px;
  font-size: 20px;
  color: #fff;
  background: #00ADEF;
  cursor: pointer;
}

.search-block input[type='button']:hover {
  background: #00A2EA;
}

div.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0px;
  padding: 10px 0px;

  border-bottom: 1px solid #E3E3E3;
}

div.new-series {
  font-size: 30px;
}

div.all-new {
  color: #7F7F7F;
}

div.all-new:hover {
  color: #FF7884;
  text-decoration: underline;
}

div.films {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

div.films-youtube {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

div.background-film-item {
  position: relative;
  overflow: hidden;
}

div.films div.background-film-item {
  height: 200px;
}

div.films-youtube div.background-film-item {
  height: 170px;
}

div.background-film-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
}

div.over-back-film-item {
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  transition: .5s;
  opacity: .0;
}

div.over-back-film-item:hover {
  opacity: 1;
}

div.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  color: #fff;
  font-size: 15px;
}

div.films-youtube .circle {
  height: 70px;
  width: 70px;
}

div.films-youtube .circle img {
  width: 35px;
  height: 35px;
  transform: rotate(90deg);
}

div.film-name {
  margin-top: 10px;
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
}

div.film-name:hover {
  color: #FF505F;
}

div.film-style {
  margin: 10px 0px;
  color: #898989;
  font-size: 13px;
}

div.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

div.news-item {
  display: flex;
  border-bottom: 1px solid #E3E3E3;
}

div.background-news {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 80px;
  margin-right: 10px;
}

div.background-news img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

div.right-block {
  width: 75%;
}

div.news-discription {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 10px;
  cursor: pointer;
}

div.news-discription:hover {
  color: #FF505F;
}

div.date {
  margin-bottom: 10px;
  color: #898989;
  font-size: 13px;
}
