#slider {
  width: 100%;
  height: 400px;
  /* height: 30vw; */
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.background-slider {
  position: absolute;
  background: url('../images/background.png');
  width: 99999px;
  height: 100%;
  transition: transform 2s;
}

.slide-wrapper {
  position: absolute;
  /* left: -50px; */
  width: 99999px;
  display: flex;
  height: 100%;
  transition: transform 2s;
  box-sizing: border-box;
}

.slide {
  position: relative;
  width: 1250px;
  /* width: 100vw; */
  box-sizing: border-box;
}

.slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.s-next, .s-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
}

.s-next:hover, .s-prev:hover {
  opacity: .7;
}

.s-next:active, .s-prev:active {
  opacity: .5;
}

.s-prev {
  left: 50px;
  transform: rotate(180deg) translateY(50%);
}

.s-next {
  right: 50px;
  transform: translateY(-50%);
}

.arrows img {
  height: 40px;
}
