#slider {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  grid-column: 1/11;
}

.background-slider {
  position: absolute;
  background: url('../images/background.png');
  width: 99999px;
  height: 100%;
  transition: transform 2s;
}

.slide-wrapper {
  position: absolute;
  width: 99999px;
  display: flex;
  height: 100%;
  transition: transform 2s;
  box-sizing: border-box;
}

.slide {
  position: relative;
  box-sizing: border-box;
}

.slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.arrow-item {
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.arrow-item:hover {
  opacity: .7;
}

.arrow-item:active {
  opacity: .5;
}

.s-prev {
  left: 10px;
  transform: rotate(180deg) translateY(50%);
}

.s-next {
  right: 10px;
  transform: translateY(-50%);
}

.arrows img {
  width: 100%;
}


@media screen and (min-width: 1200px)  {
  #slider {
    /* width: 1200px; */
    height: 400px;
  }

  .slide {
    width: 1200px;
  }

  .arrow-item {
    width: 70px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #slider {
    /* width: 992px; */
    height: 330px;
  }

  .slide {
    width: 992px;
  }

  .arrow-item {
    width: 50px;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .arrow-item {
    width: 40px;
  }
}

@media screen and (max-width: 767px) {
  .arrow-item {
    width: 30px;
  }
}

@media screen and (max-width: 992px) {
  #slider {
    /* width: 100%; */
    height: 33vw;
  }

  .slide {
    width: 100vw;
  }
}
