.search-table-block {
  margin: 20px 0;
  height: 50px;
  font-family: arial;
}


.search-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.search-block > span {
  margin-right: 5px;
  color: #858796;
}

.search-block > input {
  border: 1px solid #E3E6F0;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  color: #858796;
  outline: none;
}

table {
  width: 100%;
  border: 1px solid #E3E6F0;
  color: #858796;
  font-family: arial;
  word-wrap: break-word;
}

th {
  border-bottom: 2px solid #E3E6F0 !important;
  text-align: center;
}

tr > * {
  padding: 10px;
  border: 1px solid #E3E6F0;
}

tr > td:nth-child(1) {
  width: 500px;
  max-width: 500px;
  text-align: left;
}

th.title {
  max-width: 50%;
  text-align: left;
}

th.views {
  width: 6% !important;
}

th.reating {
  width: 6% !important;
}

th.comments {
  width: 9% !important;
}

th.date {
  width: 14% !important;
}

td {
  text-align: center;
}

.button-place-header {
  width: 145px !important;
}

.button-place {
  position: relative;
}

.button-table-data {
  position: absolute;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  color: #fff;
  transition: transform .3s;
}

.edit-table-data {
  left: 15px;
  top: 50%;
  background: #009E27;
  transform: translateY(-50%);
}

.remove-table-data {
  right: 15px;
  top: 50%;
  background: #D81C27;
  transform: translateY(-50%);
}

.button-table-data:hover {
  transform: translateY(-50%) scale(1.05) !important;
}

.button-table-data:active {
  transform: translateY(-50%) scale(0.95) !important;
}

.table-pages-place {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.table-pages {
  display: flex;
  border: 1px solid #E3E6F0;
  border-radius: 5px;
  color: #858796;
  overflow: hidden;
}

.table-pages > div {
  padding: 10px;
}

.prev-table-page {
  border-right: 1px solid #E3E6F0;
}

.page-num {
  width: 40px;
  text-align: center;
  border-right: 1px solid #E3E6F0;
  cursor: pointer;
  transition: background-color .3s;
}

.page-num.active {
  background: #6882A1 !important;
  color: #fff;
  cursor: default;
}

.page-num:hover {
  background-color: #7E95AF;
  color: #fff;
}

.button-toggle-page {
  transition: background-color .3s;
}

.button-toggle-page:hover {
  background-color: #7E95AF;
  color: #fff;
}
