body.new-year-background {
  background-image: url(https://hello.tj/upload_post_img/12-2019/1576929012_snow.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

body.new-year .background-slider {
  background: url(../images/holidays/snow-slider.png);
}
