#sidebar {
  display: none;
}

#regist {
  width: 100%;
  grid-column: 1/13;
  padding: 30px 50px;
  margin: 50px 0;
  box-sizing: border-box;
}

.regist-header {
  font-size: 25px;
  margin-bottom: 30px;
}

.registration-form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.registration-form input {
  font-size: 17px;
  outline: none;
}

.registration-form-item input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #6882A1;
  height: 25px;
  transition: border .5s;
}

.registration-form-item input:focus::placeholder {
  color: #D81C27;
  transition: color .5s;
}

.registration-form-item input:focus {
  border-bottom: 1px solid #D81C27;
}

.registration-form input[type=submit] {
  background: #6882A1;
  border: none;
  padding: 10px 25px;
  color: #fff;
  border-radius: 20px;
}

.registration-form input[type=submit]:hover {
  background: #889CB5;
}


/* --------------------- */
@media screen and (min-width: 1200px)  {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 767px) and (max-width: 992px) {

}

@media screen and (max-width: 767px) {
  .registration-form-item input {
    width: 100%;
  }

  .registration-form-item span {
    display: none;
  }
}

@media screen and (min-width: 767px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 992px) {

}
