<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/table.css">
  </head>
  <body>
    <div class="search-table-block">
      <div class="search-block">
        <span>Search:</span>
        <input type="text" name="">
      </div>
    </div>

    <table cellspacing="0">
      <thead>
        <tr>
          <th class="title">Title</th>
          <th class="views">Views</th>
          <th class="reating">Rating</th>
          <th class="comments">Comments</th>
          <th class="date">Date</th>
          <th class="button-place-header">Edit/Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td class="button-place">
            <span class="edit-table-data button-table-data">Edit</span>
            <span class="remove-table-data button-table-data">Remove</span>
          </td>
        </tr>

        <tr>
          <td>asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td class="button-place">
            <span class="edit-table-data button-table-data">Edit</span>
            <span class="remove-table-data button-table-data">Remove</span>
          </td>
        </tr>

        <tr>
          <td>asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;asdfasdfjdfsdfsdfsdfkadsl;kgjdfngjklsdfnbgkljsnof;</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td>asdfasdfj;alskdjfl</td>
          <td class="button-place">
            <span class="edit-table-data button-table-data">Edit</span>
            <span class="remove-table-data button-table-data">Remove</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="table-pages-place">
      <div class="table-pages">
        <div class="prev-table-page button-toggle-page">Previous</div>
        <div class="page-num active">1</div>
        <div class="page-num">2</div>
        <div class="page-num">3</div>
        <div class="page-num">4</div>
        <div class="page-num">5</div>
        <div class="page-num">6</div>
        <div class="next-table-page button-toggle-page">Next</div>
      </div>
    </div>

  </body>
</html>
