@font-face {
  font-family: 'ElectronC';
  src: url('../font/ElectronC.otf');
}
@font-face{
  font-family: 'Myriad';
  src: url('../font/Myriad.otf')
}

#one-content h2{
  margin-top: 0px;
  font-family: 'ElectronC', sans-serif;
}

.ya-share2__container_size_m .ya-share2__icon {
    height: 30px;
    width: 30px;
    
}

/*главный контент*/
#one-content {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  /* border: 1px solid #000000; */
  padding: 5px;
  font-family: 'Myriad',sans-serif;
}

#one-content h2{
  margin-top: 0px;
}

#one-content::after{
  content:'';
  display: flex;
  width: 100%;
}
.up_seria{
   margin-right:8%;
    float:right;
}
/*
.up_seria span{
    font-size:25px;
    color:green;
    position: relative;
    top: -25px;
}
*/
#one-content p{
  white-space: normal;
  color: #777777;
  margin-bottom: 5px;
}

.opisanie{
  /* width: 360px; */
  height: 250px;
  overflow: hidden;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}



ol a{
  text-decoration: none;
  color: red;
}

#one-content img[alt="картиночка"]{
  /* float: left; */
  display: flex;
  flex-direction: row;
  width: 370px;
  margin-right: 10px;
}
.title{
  display: flex;
  flex-direction: row;
}
.info{
  min-height: 600px;;
  position: relative;
  
}
.text{
  display: flex;
  flex-direction: column;
  font-size: 15px;
}


p.who {
  position: absolute;
    bottom: 25px;
    right: 30px;
    font-size: 20px;
    font-weight: 800;
    /*  color: purple !important; */

}

.info_1{
  font-weight: bold;
}

.info .date{
  position: absolute;
  bottom: 0px;
  font-size: 20px;
  left: 5%;
  text-align: center;
  z-index: 1;
}

.kartinka{
  position: relative;
  /* float: left; */
}

.kartinka #reit{
  bottom: 0px;
  left: 40%;
  color: white;
  position: absolute;
}

.stars {
    text-align: center;
    position: absolute;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    width: 97%;
}

.stars:hover{
    color:gold;
}


.star_active{
    background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%) !important;
}

.star_active:before{
    background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%) !important;
}

.stars:hover .star{
    background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);
}

.stars:hover .star:before{
    background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);
}

.star {
  display: inline-block;
  vertical-align: top;
  top:3px;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
  position: relative;
}

.star:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: linear-gradient(to bottom, rgba(221, 220, 219, 1) 0%, rgba(209, 208, 206, 1) 100%);
  z-index: 1;
}

.star,
.star:before {
  -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
  clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}

.star:hover {
  background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);
}

.star:hover:before {
  background: linear-gradient(to bottom, rgba(243, 212, 85, 1) 0%, rgba(238, 164, 0, 1) 100%);
}



.pleer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#title, #tv{
  color: #d83541;
}

/* здесь идет выпадающий список*/
.containeer{
  margin: 0px auto;
  /* width: 400px; */
  text-align: center;
  
}

.containeer > .dropdowns {
  margin: 0 20px;
  vertical-align: top;
}

.dropdowns {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  color: white;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdowns:before, .dropdowns:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #fff transparent;
  pointer-events: none;
}

.dropdowns:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdowns:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdowns-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: white;
  /* text-shadow: 0 1px white; */
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdowns-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdowns-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdowns {
  z-index: 1;
}

.lt-ie9 .dropdowns-select {
  z-index: -1;
}

.lt-ie9 .dropdowns-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdowns-select {
    padding-left: 6px;
  }
}

.dropdowns-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdowns-dark:before {
  border-bottom-color: #fff;
}

.dropdowns-dark:after {
  border-top-color: #fff;
}

.dropdowns-dark .dropdowns-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}

.dropdowns-dark .dropdowns-select:focus {
  color: #ccc;
}

.dropdowns-dark .dropdowns-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

#kino{
  width: 100%;
  display: flex;
  flex-direction: row;
}

#series{
  /* float: right; */
  display: flex;
  position: relative;
  /* margin-right: 5%; */
  width: 50%;
  height: 500px;
  padding-top: 30px;
  background: #111111;
  min-height: 500px;
  padding-left: 10px;
  padding-bottom: 30px;
  overflow: hidden;
}

#series div{
  position: absolute;
  top:0;
  left:0;
  right:-30px;  
  padding-top: 40px;
  
  width: 140%;
  box-sizing: border-box;
  height:95%;
  overflow: hidden;
  overflow-y: scroll; 
}


#series div  p{
  /* margin: 30px 10; */
  font-size: 18px;
  cursor: pointer;
  padding: 15px 0px;
  padding-left: 10px;
  margin-bottom: 0px;
  color: white;
  font-family: 'Myriad';
  
}

.currentSer{
  background: #e70c2f !important;
  color: white !important;
}

#series div p:nth-child(even){
  background-color: #202020;
}

#series .series_up{
  top: 0px;
  padding-left: 45%;
  padding-top: 10px;
  margin-top: 0px;
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 1;
  height: 40px;
  margin-left: -10px;
  background: #111111;
  cursor: pointer;
  align-content: center;
}

#series .series_drow{
  width: 35px;
  height: 35px;
}

.series_drow.down{
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#series .series_down{
  bottom: 0px;
  padding-left: 45%;
  padding-top: 10px;
  margin-top: 0px;
  margin-left: -10px;
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 1;
  background: #111111;
  cursor: pointer;
  align-content: center;
}

#vibor {
  margin-left: 250px;
}

.pleer form select{
  margin: 3px;
  margin-right: 200px
}
#movie{
  width:100%;
  height: 500px;
  min-width: 70%;
  /* margin-left: 5%;  */
}
#movie2{
  min-width: 70%;
  padding: 0px;
}

.like{
  width: 30px;
  margin-left: 100px;
  transform: scaleY(-1);
}

.active_like{
  background: #49aff2;
}

.dislike{
  margin-left: 20px;
  width: 30px;
  transform: scaleY(1);
}
.pros{
  margin-left: 610px;
  width: 30px;
}
#comment{
  margin-left: 100px;
  display: block;
  margin-top: 10px;
  resize: none;
  width: 650px;
}
#comment + button{
  margin-left: 100px;
  margin-top: 10px;
}

.form{
  width: 750px;
}

button + span{
  float: right;
}

.ready_comment{
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  color: black;
  position: relative;
  overflow-wrap: break-word;
}
#comments .ready_comment p{
  color: black;
}
.ready_comment span{
  margin-right: 10px;
}

.ready_comment .avtor{
  font-weight: bold;
}

.ready_comment .data{
  left: 57px;
  top: 32px;
  position: absolute;
}

.ready_comment p.data{
  font-size: 12px;
}

button.otvet{
  width: 70px;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}



.ready_comment p{
  display: inline;
}

.ready_comment div{
  min-height: 100px;
  /* background: #cbc6c3; */
  border-radius: 2px;
  padding: 10px;
  
}


.ready_comment div::before{
  content: "";
  width: 100%;
  height: .5px;
  background: #ddd;
  margin: 5px -5px;
  display: block;
}

#comments{
  width: 600px;
  hyphens: auto;
}

.stol_zakazov img{
  width: 100%;
}

