.dropdown-menu {
    display: block;
}
.profile{
    display:none;
}

.open_avatar{
    width:180px;
}

@font-face {
  font-family: 'ElectronC';
  src: url('../font/ElectronC.otf');
}
@font-face{
  font-family: 'Myriad';
  src: url('../font/Myriad.otf')
}
body {
  padding: 0px;
  margin: 0px;
  
}

.dropdown-menu.profile.show{
  background: #343a40 !important;
  display: flex;
  flex-direction: column !important;
}

.profil h3{
  text-align: center;
}

.red_prof{
  display: none;
}

#avatars{
  height: 200px;
  width: 400px;
  position: relative;
  z-index: 1;
  /* overflow-y: scroll; */
}
#avatars img{
  width: 80px;
}
#avatars div{
  position: absolute;
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;

}

.red_prof.open{
  display: block;
}

.profil .profil_block{
  display: flex;
  flex-direction:row; 
}
.profile .profil_block .information{
  display: flex;
  flex-direction: column;
}

.serii_close{
    display:none;
  }
  .raspisanie_title {
      text-align: center;
      /*width: 400px;*/
      margin-bottom:10px;
  }
.list-group-item.raspisan {
padding: .75rem 5px;
}
  .raspisanie_title .list-group-item{
    background-color: #efecec ;
  }

  .raspisanie_title i{
      float: right;
  }
  .raspisanie_title .list-group{
      text-align: start;
  }
  .serii_close .list-group-item{
      background: white;
  }
  .serii_close .list-group-item a{
    color: red;
      text-decoration: none;
  }

.dropdown-menu.ganr a{
    display: inline-block;
    width: 30%;
    /*text-align: left;*/
    white-space: pre-line;
    word-wrap: break-word;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    border-radius:15px;
}

.dropdown-item:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

.uved{
    cursor:pointer;
}

.donat{
  position: relative;
}
.donat button{
  position: absolute;
bottom: 10px;
letter-spacing: 0.1em;
font-size: 20px;
left: 50%;
text-align: center;
margin-left: -75px;
}



#SIGNIN{
  cursor: pointer;
}

.black_menu ul li a{
  list-style: none;
  color: white;
  font-size: 16px;
}

.slick-slide{
    background:url(../images/load.png) no-repeat;
    background-position:center;
    background-size:cover;
    /* position: relative; */
}

#slide{
  min-height: 200px;
  margin-top: -27px;
  background-color: #f8f9fa;
}

.slick-slide{
    opacity:1 !important;
}

.d-block.w-100{
  height: 400px;
}

#wrapper{
  margin-bottom: 20px;
}

/*Шапка сайта*/
#logo {
  float: left;
  color: #FFFFFF;
  font-size: 25px;
  margin: 0px 20px;
  padding: 5px;
}
span.hub{
  background: #D18C4B !important;
  border-radius: 5px;
}

.navbar{
  font-family: 'ElectronC'!important;
  font-size: 23px;
}

.navbar li{
  margin-right: 20px;
}

.navbar-expand-lg .navbar-nav{
    margin:0 auto;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:#ff1f00;
}

.navbar li:nth-child(4){
  margin-right: 0px;
}

.carousel-control-prev,.carousel-control-next{
  z-index: 0;
}

.carousel-item .watch{
  position: absolute;
  bottom: 30px;
  font-size: 26px;
  height: 40px;
  color: #FFF;
  background-color: rgba(0,0,0,0.5);
  font-family: 'Myriad',sans-serif;
  z-index: 1;
  padding: 0 30px;
  cursor: pointer;
  
}

.watch p a{
  text-decoration: none;
  color: white;
}

.navbar-brand{
  margin-right: 30px;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: 0;
  width:100%;
  text-align: center;
  border:none;
  overflow:hidden;
  background: #f8f9fa;
  max-height:0;
  top: 95%;
  transform: rotate3d(0, 2, 0, -90deg);
  -o-transition: rotate3d(0, 2, 0, -90deg);
    -ms-transition: rotate3d(0, 2, 0, -90deg);
    -moz-transition:rotate3d(0, 2, 0, -90deg);
    -webkit-transition: rotate3d(0, 2, 0, -90deg);
  opacity: 0;
  transition-duration: .5s;
  transition-property: opacity,max-height,transform;
}

.nav-item.dropdown:hover > .dropdown-menu {
  /* display: block; */
}

.navbar-expand-lg .navbar-nav .dropdown-menu.show{
  opacity: 1;
 transform: rotate3d(0, 0, 0, -90deg);
  -o-transition: rotate3d(0, 0, 0, -90deg);
    -ms-transition: rotate3d(0, 0, 0, -90deg);
    -moz-transition:rotate3d(0, 0, 0, -90deg);
    -webkit-transition: rotate3d(0, 0, 0, -90deg);
  max-height:402px;
  overflow:hidden;
  overflow-y:scroll;
}

.dropdown-item {
  display: inline;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 20px;
}

.dropdown-item:hover{
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
}

.carousel-inner{
  height: 400px;
}

/* @media screen and (min-width: 1024px) {
  
}
@media screen and (min-width: 450px) and (max-width: 1024px) {
  
} */

/* вот тут профиль после входа */
#dropdown{
  display: block;
}
 /* Dropdown Button */
 .dropbtn {
  background-color: #676d72;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: static;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#myDropdown span{
  margin-left:15px;
  margin-top: 10px;
  margin-bottom: -5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

/* @media screen and (max-width: 450px) {

} */

/*Контент*/

form#img {
  clear: both;
}

#img > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
#img li {
  height: 250px;
  padding: 0px 10px;
  font-weight: bold;
}
#img img {
  height: 200px;
}
#img a {
  color: #2A85DB;
  text-decoration: none;
}
#img a:hover {
  color: #FF7A3C;
  text-decoration: underline;
}
a#forward {
  padding: 10px;
  background: #E8EBEF;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
a#forward:hover {
  color: #FF7A3C;
  text-decoration: none;
}

/*Подвал*/
/* footer{
  font-family: 'Myriad',sans-serif;
  color: white;
  position: relative;
}

footer {
  position: relative;
  background: #464646;
  padding-left: 10px;
  justify-content: space-between;
 
}

footer .col-md-4.first{
  padding-top: 30px;
}

footer .col-md-4 .top_moder{
  position: absolute;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 35px;
  top: 150px;
  left: 0;
}
footer .col-md-4 .moders{
  text-align: start;
  padding-left: 150px;
  padding-top: 30px;
}

footer .col-md-4 .moders .moder{
  margin-bottom: 15px;
}
footer .bottom_right{
  position: absolute;
  bottom:0;
  right:0;
}

footer h1 {
 font-size: 60px;
}
footer hr{
  border-top: 1px solid rgba(255,255,255,.5);
}
footer .row{
  margin: 0;
}
footer h1 span{
  display: inline-block;
  margin: 0px;
  background: #d67927;
  border-radius: 5px;
}

footer p span{
  display: inline-block;
  margin: 0px;
  background: #d67927;
  border-radius: 5px;
}

footer a {
  font-weight: bold;
  color: #338FFF;
  text-decoration: none
} */

footer .bottom_right{
  position: absolute;
  bottom:0;
  right:0;
}
footer .vk {
  position: relative;
  background: #464646;
  padding-left: 10px;
  padding-bottom: 5px !important;
}

footer .contact {
  background-color: #731515;
  min-height: 200px;
  padding-top: 40px;
  text-align: end;
  position: relative;
}

.footer .contact .foto{
  position: absolute;
  left: 400px;
  top: 0;
  width: 275px;
}

footer .more {
 background: #464646;

}

footer{
  color: white;
  font-family: 'Myriad',sans-serif;
}

footer .more .about{
  display: inline-block;
  padding-left: 350px;
}

footer .more .about a{
  margin-right: 45px;
  text-decoration: none;
  color: white;
}

.visible{
  display: block !important;

}

.disable{
  display: none !important;
}

.col-3 .stol_zakazov img{
  width: 100%;
  height: 500px;
}

.stol_zakazov{
  position: relative;
  margin-bottom: 30px;
}

.stol_zakazov::before{
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #f72108;
  margin-bottom: 5px;
}

.stol_zakazov::after{
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #f72108;
  margin-top: 15px;
}
.stol_zakazov .sulka{
  width: 80%;
  position: absolute;
  text-align: center;
  bottom: 30px;
  padding: 5px;
  left: 10%;
  height: 40px;
  font-family: 'Myriad',sans-serif;
  background-color: #4cb1ca;
}

.stol_zakazov p a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.top_anime{
  border-top: 7px solid #f72108;
}

.top_anime ol{
  padding-left: 24px;
}

.dont_work{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;

  text-align: center;
  padding-top: 70%;
  font-size: 25px;
  pointer-events: none;
}

.dont_work p{
  background: none;
  color: white !important;
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}

.top_anime p{
  font-family: 'Myriad',sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.top_anime p::after{
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.top_anime p span{
  font-size: 30px;
  font-weight: bolder;
  color: gray;
}

.top_anime div{
  background-color: #efecec;

}

.top_anime div ol li a{
  color: #e43;
}

.last_comm{
  border-top: 7px solid #f72108;
}

.last_comm .last_comm_title{
  font-family: 'Myriad',sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}



.last_comm .last_comm_title::after{
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.last_comm p span{
  font-size: 30px;
  font-weight: bolder;
  color: gray;
}

.last_comm div{
  background-color: #efecec;

}
.last_comm div ol{
  padding-left: 10px;
}
.last_comm div ol li{
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  list-style: none;
  margin-bottom: 5px;
}
.last_comm div ol li .who{
  display: flex;
  flex-direction: row;
}
.last_comm div ol li .who .name_time{
  display: flex;
  flex-direction: column;
}
.comment .text{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #efecec;
  position: relative;
  margin-top: 10px;
  padding: 5px;
  font-size: 12px;
  text-overflow: ellipsis;
  width: 95%;
  overflow: hidden;
  min-height: 110px;
  max-height: 200px;
  border-radius: 10px;
  }
  
.comment .text .last_comm_link{
    position: absolute;
    bottom: 0;
    background: #efecec;
    width: 100%;
}
  
  .comment .text:hover{
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  }

.comment .text::before{
  bottom: 100%;
  left: 23px;
  border: solid transparent;
    border-top-color: transparent;
    border-top-width: medium;
    border-right-color: transparent;
    border-right-width: medium;
    border-bottom-color: transparent;
    border-bottom-width: medium;
    border-left-color: transparent;
    border-left-width: medium;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(194, 225, 245, 0);
border-bottom-color: #7d88f8;
border-width: 9px;
margin-left: -9px;
}

footer{
  position: relative;
}

footer .informer{
  position: absolute;
  bottom: 40px;
  left: 10px;
}

@media (min-width: 576px){
  .form-inline .form-control {
      width:70%;
  }
  }
  .form-inline {
    -ms-flex-flow: row ;
    flex-flow: row ;
    
  }

