.css{
	width:575px;
	/*border:1px solid gray;*/
	font-family:Arial;
	background-color:#ece9d8;
	font-size:13px;
	font-weight:normal;
}
.hr{
	border-top:1px solid #aaaaaa;
	margin:2px;
}
.css_panel select{
	width:200px;
	border:1px solid #aaaaaa;
	margin:25px 25px 0 25px;
	padding:0px;
	height:278px;
}
.css_sepor{
	margin-left:10px;
	margin-right:10px;	
}
.css_panel textarea{
	width:300px;
	height:276px;

}
.css_panel div{
	clear:both;
	text-align:right;
	width:550px;
}
.css p{
	display:block;
	text-align:left;
	padding:20px;
	margin:2px 0 0 0;
	background-color:#ffffff;
}
.css_control{
	text-align:left;
	background-color:#f73c3c;
	/*border:1px solid gray;*/
	margin:2px;
	padding:2px 21px 2px 25px;
}
.css_control select{
	width:70px;
	margin:0 6 1 0px;
	vertical-align:middle;	
}
.css_control input{
	width:50px;
	margin:0 6 1 0px;
	height:24px;
	vertical-align:middle;
}
.css_control button{
	margin:0px;
	padding:0px;
	text-align:left;
	border-width:1px;	
	background-color:#ece9d8;
	height:24px;
	overflow:visible;
	vertical-align:middle;
}
.css_area{
	width:633px;
	height:80px;
}


