#content {
  margin: 0px 2%;
  border: 1px solid #ddd;
  box-shadow: -2px 8px 8px rgba(0, 0, 0, 1);
  padding: 5px;
  background: #d4d1d1
}
#content p {
  color: #777777;
}

.info .date{
  position: relative;
  top: 55px;
  font-size: 20px;
  left: -70%;
  text-align: center;
}

div.info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0px;
}
div.info ul img {
  width: 300px;
}
div.pleer {
  margin-top: 15px;
  border-top: 1px solid #000000;
  width: 100%;
}


/* Изменить ВСЁ */
/* здесь идет выпадающий список*/
.containeer {
  margin: 80px auto;
  width: 400px;
  text-align: center;
}
.container > .dropdowns {
  margin: 0 20px;
  vertical-align: top;
}
.dropdowns {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdowns:before, .dropdowns:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}
.dropdowns:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdowns:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}
.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdowns {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}
.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.dropdown-dark:before {
  border-bottom-color: #aaa;
}
.dropdown-dark:after {
  border-top-color: #aaa;
}
.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}
.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}
.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}





#kino{
  width: 100%;
  display: flex;
  /* flex-direction: column-reverse; */
}

#series{
  /* float: right; */
  position: relative;
  margin-right: 5%;
  width: 16%;
  padding-top: 30px;
  background: #111111;
  height: 500px;
  padding-left: 10px;
  padding-bottom: 30px;
  overflow: hidden;
}

#series div{
  position: absolute;
  top:0;
  left:0;
  right:-30px;
  padding: 40px 20px;

  width: 118%;
  box-sizing: border-box;
  height:90%;
  overflow: hidden;
  overflow-y: scroll;
}


#series div  p{
  margin: 30px 10;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  
}

#series .series_up{
  top: 0px;
  text-align: center;
  padding-top: 10px;
  margin-top: 0px;
  position: absolute;
  width: 170px;
  margin-left: -10px;
  z-index: 1;
  height:40px;
  background: #111111;
  cursor: pointer;
}

#series .series_down{
  bottom: 0px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
  position: absolute;
  display: block;
  width: 170px;
  margin-left: -10px;
  z-index: 1;
  height:40px;
  background: #111111;
  cursor: pointer;
}

#vibor {
  margin-left: 250px;
}

.pleer form select{
  margin: 3px;
  margin-right: 200px
}
#movie{
  width:74%;
  height: 500px;
  margin-left: 5%;
}

.reit{

}

.like{
  width: 30px;
  margin-left: 10%;
  transform: scaleY(-1);
}

.active_like{
  background: #49aff2;
}

.dislike{
  margin-left: 20px;
  width: 30px;
  transform: scaleY(1);
}
.pros{
  margin-left: 45%;
  width: 30px;
}
#comment{
  display: block;
  margin-top: 10px;
  resize: none;
  width: 650px;
  background: #f3f3f3;
  
}
#comment + button{
  margin-top: 10px;
}

.form{
  width: 650px;
  padding: 15px 5%;
}

button + span{
  float: right;
}

.ready_comment{
  margin-left: 8%;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 655px;
  background: #f3f3f3;
}
.ready_comment span{
  margin-right: 10px;
}

.ready_comment p:nth-last-child(2){
  font-size: 12px;
}

.ready_comment p{
  display: inline;
}

.ready_comment div{
  min-height: 100px;
  /* background: #cbc6c3; */
  border-radius: 2px;
  padding: 10px;
}

.ready_comment div::before{
  content: "";
  width: 100%;
  height: .5px;
  background: #ddd;
  margin: 5px -5px;
  display: block;
}

#comments{
  width: 600px;
  hyphens: auto;
}
