#shadow {
  background: rgba(0, 0, 0, .5);
  height: 100vh;
  display: none;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
#window_autorization {
  width: 300px;
  margin: 17% auto;
  z-index: 1;
  border: 1px solid yellow;
  box-sizing: border-box;
  background:#ffffff;
}
#window_autorization a {
  text-decoration: none;
  color: #f6576d;
}
.autorization {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
}



.form {
  padding: 15px 12%;
}
.autorization input {
  margin-top: 10px;
  /* height: 35px; */
  box-sizing: border-box;
  background: #f7f7f7;
  /* width: 225px; */
  border-radius: 7px;
}

.autorization input[type="text"] {
  
  width: 225px;
  
}
.autorization input[type="password"] {
  
  width: 225px;
  
}

.autorization input[type="submit"] {
  float: left;
  height: 35px;
  width: 30%;
  background: #0DB9DD;
  border: none;
  font-weight: bold;
  color: #FFF;
}

/* Изменения тут*/

#window_autorization:after {
  content:'';
  display: flex;
  width: 100%;
}


ul#blackTop {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0px;
  border: 1px solid;
  color: #FFF;
  background: #39393A;
  font-weight: bold;
}
ul#blackTop li {
  display: block;
}
ul#blackTop li.exit1 {
  padding: 10px;
  font-size: 25px;
}
ul#blackTop li.exit2 {
  width: 35px;
  height: 35px;
  font-size: 50px;
  line-height: 0px;
  overflow: hidden;
  text-align: center;
  padding-top: 11px;
  margin: 2px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
ul#blackTop li.exit2:hover {
  background: #CA031C;
}
ul#blackTop li.exit2:active {
  background: #B30319;
}




div.regist {
  border-top: 1px solid #9A9A9A;
}

/* .exit1 {
  position: absolute;
  top: 2px;
  right: 3px;
  width: 34px;
  height: 33px;
}
.exit2 {
  position: absolute;
  font-size: 45px;
  top: 0px;
  right: 5px;
  width: 30px;
  line-height: 27px;
  border: 1px solid;
} */


/* .autorization  span {
  float: right;
} */

.float {
  float: left;
  /* display: flex;
  justify-content: space-between; */
}
/* .regist {
  float:right;
} */
