tbody tr td:nth-child(1){
    width: 20px;
    padding:10px 5px;
}

tbody tr td:nth-child(2){
    width: 80%;
}

tbody tr td:nth-child(3){
    width: 10%;
}
tbody tr td:nth-child(4){
    width: 10%;
}

.dont_work{
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  
}

td .orderdesc{
  text-decoration: underline;
  color:purple;
  cursor: pointer;
}

td .orderdesc:hover + img{
  visibility: visible;
}



td  .order-descr{
  display: none;
}

.order_arrow{
  visibility: hidden;
}


.order_arrow_down{
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

body {
    padding: 0px;
    margin: 0px;
  }
  div#openAdd {
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 15px;
    color: #FFF;
    background: linear-gradient(#56EB62, #11931B)
  }
  div#order {
    border-radius: 8px;
    box-shadow: inset 0px 0px 5px #616161;
    margin: 50px auto;
    padding: 10px;
    width: 95%;
    
    background: #E8E8E8;
    box-sizing: border-box;
  }
  div#order h2 {
    margin: 5px;
  }
  div#order .center {
    text-align: center;
  }
  div#order form {
    margin: auto;
    width: 60%;
  }
  div#order form span {
    display: inline-block;
    padding-left: 7px;
    padding-top: 10px;
  }
  div#order form input, select, textarea {
    width: 80%;
    background: #1C2026;
    color: #FFF;
  }
  div#order textarea {
    resize: none;
    height: 200px;
  }
  div#add {
    display: inline-block;
    border: 1px solid #616161;
    border-radius: 5px;
    color: #616161;
    padding: 7px;
    text-align: center;
    width: 80px;
    background: #F2F2F2;
  }
  