.page-number{
    width: 35px;
    padding: .5rem .55rem;
    text-align: center;
}

nav.navigation{
    margin: 0 auto;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    
}

main.pt-5{
    min-height:400px;
}